In [1]:
""" Import Statements """

import numpy as np
import pandas as pd

# Load the data 
income_df = pd.read_csv('census_income.data')
# Print the shape and check the first 5 rows
income_df.shape

(32560, 15)

In [3]:
income_df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
# Print columns
income_df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [ ]:
# Remove unimportant columns and crate a copy of the dataframe with reduced number of columns
income_df.columns = ['Age', 'Workclass', 'fnlwgt', 'Education', 'Edu_num', 'Marital_status', 'Occupation', 'Relationship', 
                    'Race', 'Gender', 'Capital_gain', 'Capital_loss', 'Hours_per_week', 'Country', 'Income']

income_df = income_df[['Age', 'Education', 'Edu_num', 'Occupation', 'Race', 'Gender','Hours_per_week', 'Country', 'Income']]

income_df.head()

In [ ]:
# Check for nulls (missing values)
print(income_df.isnull().sum())

# Identify target and count the values
print(income_df['Income'].value_counts())

# Create and save a new csv file with modified dataset
income_df.to_csv('income.csv', index=False)